{
    "presets": ["es2015-rollup"]
//    "presets": ["es2015"]
//    "presets": ["es2015", "babili"]
//    "env": {
//        "production": {
//            "presets": ["babili"]
//        }
//    }
//    "plugins": [
//        [
//            "incremental-dom",
//            {
//                "inlineExpressions": true,
//                "prefix": "IncrementalDOM"
//            }
//        ]
//    ]
}
