{
    "presets": ["es2015"],
    "plugins": [
        [
            "incremental-dom",
            {
                "inlineExpressions": true,
                "prefix": "IncrementalDOM"
            }
        ]
    ]
}
