*.*~

_*
*_

dist/
build/
tmp/

node_modules/

*.iml
.idea
.vscode

src/**/*.js
src/**/*.d.ts
src/**/*.js.map
src/**/*.jsx

test/**/*.js
test/**/*.d.ts
test/**/*.js.map
test/**/*.jsx

!src/test-main.js
